{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="list-group">
        {% for listing in listings %}
            <a href="/listing/{{ listing.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ listing.title }}</h5>
                <small>${{ listing.starting_bid }}</small>
                </div>
                <p class="mb-1">{{ listing.description }}</p>
                <small>Category: {{ listing.category }}</small>
            </a>
          {% endfor %}
      </div>
{% endblock %}